@import './global_styles';
@import './header';
@import './effective';
@import './principles';
@import './activity';
@import './regular_customers';
@import './footer';
@import './modal';
@import './progects_buttons';
@import './progects_cards';