.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__box {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-blue-color);
    text-decoration: none;
    margin-bottom: 20px;
}

.logo-footer__color {
    color: var(--white-color);
}

address {
    font-style: normal;
}
/* Виправив шрифт посилань на нормальний */

.footer-contact__adress {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-blue-color);
    }
}

.footer-contact__email {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-blue-color);
    }
}

.footer-contact__tel {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-blue-color);
    }
}

.footer-contact__list:not(:last-child) {
    margin-bottom: 9px;
}

/* -----FOOTER NETWORK ПРИСОЕДИНЯЙТЕСЬ---------- */
.footer-net {
    margin-left: 70px;
}

.footer-net__title {
    margin-bottom: 20px;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-net__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-net__item:not(:last-child) {
    margin-right: 10px;
}

.footer-net__link {
    display: flex;
    margin: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-blue-color);
    }
}

.footer-net__img {
    fill: var(--white-color);
    width: 20px;
    height: 20px;
}

/* -------FOOTER Subscribe подписка----------*/
.subscribe {
    margin-left: 93px;
}

.subscribe__label {
    display: block;
    font-style: normal;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}

.subscribe__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--white-color);
    outline: none;
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe__btn {
    display: inline-flex;
    justify-content: center;
    margin-left: 12px;
    padding: 10px 28px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
}

.subscribe__svg {
    margin-left: 10px;
}