.header {
    display: flex;
    position: relative;
    align-items: center;
    @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
    }    
}

header {
    border-bottom: 1px solid #ECECEC;
}
.logo {    
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-blue-color);
    text-decoration: none;
    @media screen and (max-width: 768px) {
    margin: 16px 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-right: 88px;
    } 
    @media screen and (min-width: 1200px) {
    margin-right: 93px;
    }
}

.logo__color {
    color: #000000;
}
/* ------------------MENU BUTTON---------------------*/ 
.menu-button {
    display: inline-flex;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    border: none;
    background-color: #FFFFFF;
    @media screen and (min-width: 768px) {
        display: none;
    }
    & .menu-button__icon-close {
        display: none;
    }

    &.is-open .menu-button__icon-close {
        display: block;
    }

    &.is-open .menu-button__icon-open {
        display: none;
    }

    &:hover .menu-button__icon-open,
    &:focus .menu-button__icon-open {
    fill: var(--accent-blue-color);
    cursor: pointer;
    }

    &:hover .menu-button__icon-close,
    &:focus .menu-button__icon-close {
    fill: var(--accent-blue-color);
    cursor: pointer;
    }
}
// ----------------MENU---------------------
.menu {
    @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    background: #FFFFFF;
    &.is-open {
    display: flex;
    position: fixed;
    }
        }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

/* -------------------SITE NAV --------------------- */
.nav {    
    & a:hover,
    & a:focus {
        color: var(--accent-blue-color);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        } 
        @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 84px;
        }
        @media screen and (min-width: 1200px) {
        margin-right: 305px;
        }
    }

.nav a {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition-property: color, text-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
        display: block;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
}

.nav__item:not(:last-child) {
    @media screen and (max-width: 768px) {
        margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }
}

.nav .nav__link.current {
    color: var(--accent-blue-color);
    /* так виглядає CURRENT (виділення назви поточної сторінки) */
}

 
.nav__link.current::after {
    @media screen and (min-width: 768px) {
        display: block;
        content: '';
        position: relative;
        width: 100%;
        height: 4px;
        background: var(--accent-blue-color);
        border-radius: 2px;
        top: 33px;
        /* ПІДКРЕСЛЮВАННЯ НАЗВИ ПОТОЧНОЇ АКТИВНОЇ СТОРІНКИ */
        }
    @media screen and (min-width: 1200px) {
        top: 28px;
    }
    }

/* -----------------CONTACTS------------------- */

.contacts {
    &__link:hover,
    &__link:focus {
    color: var(--accent-blue-color);
    border: -1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
       
    }
}

.contacts__list {
    @media screen and (max-width: 768px) {
    &:not(:last-child) {
            margin-bottom: 32px;
        }    
    &:not(:first-child) {
            margin-bottom: 64px;
        }
    }   
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (max-width: 768px) {
    .contacts__phone {
        font-size: 34px;
        line-height: 0.85;
        letter-spacing: 0.02em;
        color: #2196F3;
    }
    .contacts__mail {
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    }
}

    .contacts__phone {
        @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin-bottom: 10px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 10px;
        }

    }


.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    @media screen and (max-width: 768px) {
            display: none;
        }
}
// -------------MENU SOCIAL----------------
.menu-social {
    display: flex;
    @media screen and (min-width: 768px) {
        display: none;
    }
    
}
.menu-social__list {
    &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
        }
   }

.menu-social__link {
    @media screen and (min-width: 768px) {
        display: none;
    }
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196F3

    

}