.principle__title {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
}

.principle__list {
    width: 100%;
    @media screen and (max-width: 768px) {
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }   
        &::before {
            content: '';
            display: block;
            height: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #F5F4FA;
            border-radius: 4px;
            margin-bottom: 30px;
        }
    @media screen and (min-width: 768px) {
        &:nth-child(n + 3) {
        margin-bottom: 0;
      }
        width: calc((100% - 30px) / 2);
        
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
        
    }
}

.principle__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    @media screen and (max-width: 767px) {
    text-align: center;
    }
   
}

.principle__name {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}

.antenna::before {
    background-image: url("../images/imgs/antenna.svg");
}

.clock::before {
    background-image: url("../images/imgs/clock.svg");
}

.diagram::before {
    background-image: url("../images/imgs/diagram.svg");
}

.astronaut::before {
    background-image: url("../images/imgs/astronaut.svg");
}