.customers__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.customers__list {
    display: flex;
}

.customers__item:not(:last-child) {
    margin-right: 30px;
}

.customers__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--content-text-color);
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-blue-color);
        border-color: var(--accent-blue-color);
    }
}

.customers__img {
    fill: currentColor;
}