:root {
    --title-text-color: #212121;
    --content-text-color: #757575;
    --links-text-color: #FFFFFF99;
    --accent-blue-color: #2196F3;
    --white-color: #FFFFFF;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    
    ul,
    ol {
        margin: 0;
        padding-left: 0;
    }

body {
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    }
a {
    text-decoration: none;
    /* Прибираємо підкреслювання на посиланнях */
}
li {
    list-style-type: none;
    /* Прибираємо маркери у списках */
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    width: 1200px;
}
section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ---------------HEADER----------------- */
.page-header {
    display: flex;
    align-items: center;
    }
header {
    border-bottom: 1px solid #ECECEC;
}

/* ---------------LOGO------------------ */
.logo {
    font-family: 'Raleway', sans-serif;
    margin-right: 93px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-blue-color);
    text-decoration: none;
    }
.logo-right-part {
    color: #000000;
}

/* -------------------SITE NAV --------------------- */
.site-nav a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
.site-nav a:hover,
.site-nav a:focus   {
    color: var(--accent-blue-color);
}
.site-nav .link-page.current {
    color: var(--accent-blue-color);
}
/* так виглядає CURRENT (виділення назви поточної сторінки) */
.site-nav {
    display: flex;
    }
.site-nav .item:not(:last-child) {
    margin-right: 50px;
    }

/* -----------------CONTACTS------------------- */

.contacts a {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--content-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }

.list-header:hover,
.list-header:focus {
    color: var(--accent-blue-color);
    border: -1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.contacts {
    margin-left: auto;
    display: flex;        
}
.contacts .item + .item {
    margin-left: 50px;
}

.icon-envelope {
    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 12px;
    }
.icon-phone {
    fill: currentColor;
    margin-right: 10px;
    width: 10px;
    height: 16px;
}


/* ----------------EFFECTIVE------------------- */
.effect {
    box-sizing: border-box;
    height: 600px;
    max-width: 1600px;
    left: 0px;
    top: 80px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)), 
    url("../images/hw-04-imgs/overlay.jpg");
    border: 1px solid #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.effective {         
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.order-button {
    display: block;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: var(--white-color);
    background-color: var(--accent-blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid 000000;
    cursor: pointer;   
    font-family: inherit;
    /* підтягуємо до кнопки стиль з шапки */
}
.order-button:hover,
.order-button:focus {
    background-color: #188ce8;
}
/* -----------------PRINCIPLES ---------------- */
.principles-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
    /* робимо текст невидимим */
.principles-section{
   
}
.principles {
    display: flex;
    }

.principle {
    width: 270px;    
    }

.principle:not(:last-child) {
    margin-right: 30px;
    }

.principles-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.principles-list {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}
.principle::before {
    content: '';
    display: block;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    }
.antenna::before {
    background-image: url("../images/hw-04-imgs/antenna.svg");
}
.clock::before {
    background-image: url("../images/hw-04-imgs/clock.svg");
}
.diagram::before {
    background-image: url("../images/hw-04-imgs/diagram.svg");
}
.astronaut::before {
    background-image: url("../images/hw-04-imgs/astronaut.svg");
}
/* --------------ACTIVITY-------------- */
.activity-section {
    padding-top: 0;
}
.activity {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.activity-title {
    display: flex;
    }

.activity-title .activity-photo:not(:last-child) {
    margin-right: 30px;
}

/* ---------------OUR TEAM------------- */
.section-team {
    background-color: #F5F4FA;
    }
.team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
    color:var(--title-text-color);
}
.team-members {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color:var(--title-text-color);
    margin-bottom: 10px;
}
.team-members-position {
    text-align: center;
    line-height: 1.19;
    letter-spacing: 0.03em;    
    color: var(--content-text-color);
    }
.team-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
.members-title {
    display: flex;
}

.member {
    width: 270px;
    height: 428px;
    left: 515px;
    top: 1785px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px
    }
.members-title .member:not(:last-child) {
    margin-right: 30px;
}
/* ---------------Team's SVG----------- */
.network {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    padding: 0;
}
.network-list:not(:last-child) {
    margin-right: 10px;
}
.network-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--content-text-color); 
    justify-content: center;
    align-items: center;
}
.network-link:hover,
.network-link:focus {
    background-color: var(--accent-blue-color);
    color: var(--white-color);
}
.network-img {
    fill: currentColor;
}
/* ---------REGULAR CUSTOMERS-------- */
.customers {    
}
.customers-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.customers-list {
    display: flex;
}
.customers-item {       
}
.customers-item:not(:last-child) {
    margin-right: 30px;
}
.customers-link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--content-text-color);
}
.customers-link:hover,
.customers-link:focus {
    color: var(--accent-blue-color);
    border-color: var(--accent-blue-color);
}
.customers-img {
    fill: currentColor;
}
/* --------------FOOTER------------- */
.footer {
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.logo-footer {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-blue-color);
    text-decoration: none;
    margin-bottom: 20px;
}
.logo-right-part-footer {
    color: var(--white-color);
}
address {
    font-style: normal;
}
/* Виправив шрифт посилань на нормальний */
.office-adress {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    color: var(--white-color);
}
.office-adress:hover,
.office-adress:focus {
    color: var(--accent-blue-color);
}
.email {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.email:hover,
.email:focus {
    color: var(--accent-blue-color);
}
.tel {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);   
}
.tel:hover,
.tel:focus {
    color: var(--accent-blue-color);
}
.contact:not(:last-child) {
    margin-bottom: 9px;
}
/* --------------FOOTER NETWORK ПРИСОЕДИНЯЙТЕСЬ---------- */

/* ----------------PORTFOLIO (second page html)------------- */
.footer-net {}

.footer-net-title {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-net-list {
    margin: 0;
    padding: 0;
    display: flex;
}
/* .footer-and-net {
    display: flex;
    align-items: baseline;
} */

.footer-net-item {}

.footer-net-link {
    display: flex;
    margin: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-net-link:hover,
.footer-net-link:focus {
    background-color: var(--accent-blue-color);
    }

.footer-net-img {
    fill: var(--white-color);
}
/* ----------------PROGECTS BUTTONS------------- */

.progects-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: inherit;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border-radius: 4px;
    border:var(--white-color);
    padding: 6px 22px;
    /* margin-bottom: 50px; */
}
.button-filter:hover,
.button-filter:focus {
    background-color:var(--accent-blue-color);
    color: var(--white-color);
    }
.progects-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }
    
.progects-filter:not(:last-child) {
    margin-right: 8px;
   }

    /* -----------PROGECTS PRESENTATION------------ */
.progect-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
   }
.progect-list {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--content-text-color);
    }  
.cards {
    display: flex;
    flex-wrap: wrap;
    
} 
.card {
    width: ((100%-60px) / 3);
    /* Формула для АВТОвирахування 
    рівномірного простору
    для карток */
    margin-right: 30px;
    margin-bottom: 30px;
}
/* Формула для вирахування 
рівномірного зазору між картками */
.card:nth-child(3n) {
    margin-right: 0;
}
/* Формула: кожному третьому
чайлду правий маржин 0 */
.card:nth-child(n + 6) {
    margin-bottom: 0;
}
/* прибрали всім елементам після шостого MB */
.three-sides-border {
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    /* рамка з трьох сторін */
    padding: 20px 24px;
}
.img {
    display: block;
    }